body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login.box {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.login.box label {
    font-size: 22px;
    margin-bottom: 8px;
}

.login .box input {
    height: 45px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.btn{
    width: 150px;
    height: 50px;
    font-size: 25px;
    margin: 20px auto;
}